
$default-bg: $light-gray;
$default-text-color: $black;
$default-font: $lato;
$default-weight: $font-regular;

$heading-color: $purple;
$heading-font: $josefin;
$heading-weight: $font-bold;

img{
    max-width: 100%;
}
*{
    box-sizing: border-box;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    -o-box-sizing: border-box;
}
a{
    text-decoration: none;
}
html{
    font-size: 10px;
}
.container{
    margin: 0 auto;
    width: 95%;
    max-width: 1200px;
}

body{
    font-size: 1.6rem;
    background-color: $default-bg;
    color: $black;
    font-family: $default-font;
    font-weight: $default-weight;
}
h1, h2, h3, h4, h5, h6{
    font-family: $heading-font;
    font-weight: $heading-weight;
    color: $heading-color;
}