

/*$btn-default: $black;
$btn-default-color: $white;
$btn-red: $red;
$btn-green: $green;
$btn-orange: $orange;
$btn-yellow: $yellow;
$btn-cyan: $cyan;
$btn-dark-color: $black;*/

$pepco: (
'default' : $black,
'red'       : $red,
'green'   : $green,
'orange' : $orange,
'yellow'   : $yellow,
'cyan'     : $cyan,
'fancy'   : $purple
);




%btn{
    display: inline-block;
    padding: 15px 25px;
    
   /*@include radius(5px);*/
   
   @include castumRadius(20px, 0, 20px, 0);
    border: none;
}

@each $key, $value in $pepco{
    .btn-#{$key}{
        @extend %btn;
        background-color: $value;
        color: zoran($value);
        &:hover{
            background-color: darken($value, 10%);
        }
    }
}
/*.btn-default{
    @extend %btn;
    background-color: $btn-default;
    color: zoran($btn-default);
    &:hover{
        background-color: rgba($btn-default, 0.5);
    }
}
.btn-red{
    @extend %btn;
    background-color: $btn-red;
    color: zoran($btn-red);
    &:hover{
        background-color: rgba($btn-red, 0.8);
    }
}
.btn-green{
    @extend %btn;
    background-color: $btn-green;
    color: zoran($btn-orange);
    &:hover{
        background-color: lighten($btn-green, 15);
    }
}
.btn-orange{
    @extend %btn;
    background-color: $btn-orange;
    color: zoran($btn-orange);
    &:hover{
        background-color: lighten($btn-orange, 15);
    }
}
.btn-yellow{
    @extend %btn;
    background-color: $btn-yellow;
    color: zoran($btn-yellow);
    &:hover{
        background-color: lighten($btn-yellow, 15);
    }
}
.btn-cyan{
    @extend %btn;
    background-color: $btn-cyan;
    color: zoran($btn-cyan);
    &:hover{
        background-color: lighten($btn-cyan, 15);
    }
}*/